{% extends "./admin/index.html.twig" %}
{% block intro %}
<div style="margin-top: 100px;">
    <div class="container mt-4">
    <div class="jumbotron text-center"><h1>Gérer les centres commerciaux</h1></div>
    <form method="post" action="{{ path('admin.centre.search')}}" style="display: inline-block">
            {#<input type="hidden" name="_method" value="DELETE">#}
            <input type="text" name="search" class="form-control">
            <input type="hidden" name="_token" value="{{ csrf_token('search') }}"><br/>
            <button class="btn btn-primary mt-2" type="submit">Rechercher un bien Immobilier par son titre</button>
          </form>

    {% for message in app.flashes('success') %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}
  {% if centres is not empty %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Titre</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for centre in centres %}
      <tr>
        <td>{{ centre.titre }}</td>
        <td>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
          <a href="{{ path('admin.centre.edit', {id: centre.id}) }}" class="btn btn-secondary">Editer</a>
          <form method="post" action="{{ path('admin.centre.delete', {id: centre.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ centre.id) }}">
            <button class="btn btn-danger">Supprimer</button>
          </form>
          {% endif %}
          <a href="{{ path('immobilier.show', {id: centre.id, slug: centre.slug}) }}" class="btn btn-secondary">Voir</a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
  <h2>Aucun centre commercial ne correspond à votre recherches !</h2> 
  <a href="{{ path('admin.centre.index') }}" class="btn btn-secondary">Retourner à la liste des centres commerciaux</a>
  {% endif %}
    <div>
    
      {{ knp_pagination_render(centres) }}
    </div>
    <div class="text-right">
      <a href="{{ path('admin.centre.create') }}" class="btn btn-primary">Créer un nouveau centre commerci</a>
    </div>

  </div>
  </div>
{% endblock %}