<!-- Contact Section -->
  <div id="contact" class="text-center">
  	<div class="contact-index-header">
	  	<ul class="title section-title">
			<li class="line"></li>
			<li><h2>CONTACT</h2></li>
			<li class="line"></li>
		</ul>
		<p class="text-muted header-para">Ecrivez ou Télephonez</p>
  	</div>
  	<div class="contact-index-body container-fluid">
  		<div class="container">
  			<div class="row">
  				<div class="col-xs-12 col-sm-4">
  					<h3><i class="fa fa-phone"></i> Numéro de téléphone</h3>
  					<hr class="underline">
  					<p>+221 33 856 20 12</p>
  				</div>
  				<div class="col-xs-12 col-sm-4">
  					<h3><i class="fa fa-envelope"></i> Adresse email</h3>
  					<hr class="underline">
  					<p>sen-immobilier@gmail.com</p>
  				</div>
  				<div class="col-xs-12 col-sm-4">
  					<h3><i class="fa fa-home"></i> Adresse de notre siège</h3>
  					<hr class="underline">
  					<p>Segbe, Rue Akato, Maison Don Peno</p>
  				</div>
  			</div>
		  	<div class="row text-left">
			  	<div class="col-xs-12">
				  	
					  {{form_start(formContact, {'attr': {'class': 'form-horizontal'}})}}
				  		<div class="form-group">
						  	<div class="col-xs-12 col-sm-3">
						  		<div class="form-block">
									{{form_label(formContact.lastname, 'nom')}}
									{{ form_widget(formContact.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Nom *', 'id': 'name'}}) }}
							  		
						  		</div>
					  		</div>

					  		<div class="col-xs-12 col-sm-3">
						  		<div class="form-block">
									{{form_label(formContact.firstname, 'prénom')}}
									{{ form_widget(formContact.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom * ', 'id': 'prenom'} }) }}

							  		
						  		</div>
					  		</div>

					  		<div class="col-xs-12 col-sm-3">
								<div class="form-block">
									{{form_label(formContact.email, 'email')}}
									{{ form_widget(formContact.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse Email * ', 'id': 'email'} }) }}
							  			
						  		</div>
					  		</div>

					  		<div class="col-xs-12 col-sm-3">
						  		<div class="form-block">
									{{form_label(formContact.phone, 'numéro de téléphone')}}
									{{ form_widget(formContact.phone, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de téléphone * ', 'id': 'number'} }) }}
							  			
						  		</div>
					  		</div>

							<div class="col-xs-12">
					  			<div class="form-block">
								  	{{form_label(formContact.subject, 'sujet')}}
									{{ form_widget(formContact.subject, {'attr': {'class': 'form-control', 'placeholder': 'Votre sujet * ', 'id': 'sujet'} }) }}
						  			
					  			</div>
				  			</div>

				  		</div>
				  		<div class="form-group">
				  			<div class="col-xs-12">
					  			<div class="form-block">
								  	{{form_label(formContact.message, 'message')}}
									{{ form_widget(formContact.message, {'attr': {'class': 'form-control', 'placeholder': 'Votre message * ', 'id': 'message'} }) }}
						  			
					  			</div>
				  			</div>
							{{form_rest(formContact)}}
				  			<div class="text-center">
				  				<button class="btn btn-custom">SEND <i class="fa fa-send-o"></i></button>
				  			</div>
						</div>
				  	
						{{form_end(formContact)}}
					</div>
			</div>
  		</div>
	</div>
</div>

<!-- End of Contact Section -->