{{ form_start(form_renting) }}
      			<div class="form-row align-items-end">
        			<div class="col-xs-12 col-sm-6 col-md-3">
          			{{ form_row(form_renting.minSurfaceRenting) }}
        			</div>
        			<div class="col-xs-12 col-sm-6 col-md-3">
          			{{ form_row(form_renting.maxPriceRenting) }}
        			</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
					{{ form_row(form_renting.addressRenting) }}
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
          			{{ form_row(form_renting.nbreDeChambresRenting) }}
        			</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
          			{{ form_row(form_renting.nbreDeSallesDeBainRenting) }}
        			</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
          			{{ form_row(form_renting.nbreDeCuisinesRenting) }}
        			</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
          			{{ form_row(form_renting.nbreDeSalonsRenting) }}
        			</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
          			{{ form_row(form_renting.nbreDeEtagesRenting) }}
        			</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
          			{{ form_row(form_renting.nbreDeGaragesRenting) }}
        			</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
          			{{ form_row(form_renting.nbreDePiscinesRenting) }}
        			</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
          			{{ form_row(form_renting.nbreDeJardinsRenting) }}
        			</div>
					
        			<div class="col-xs-12 col-sm-6 col-md-3">
          			{{ form_row(form_renting.fonctionnalitesRenting) }}
        			</div>

					<div class="col-xs-12 col-sm-6 col-md-3">
          			{{ form_row(form_renting.activeRenting) }}
        			</div>

					<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="form-group">
						<button class="btn btn-primary">Filtrer</button>
					</div>
					</div>
      			</div>

      			{{ form_end(form_renting) }}